body {
 display: flex;
 flex-wrap: wrap;
 margin: 0;
 font-family: 'Rajdhani', sans-serif;
 background-color: silver;
}

header {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 width: 100%;
}

h1 {
 color: white;
 background-color: #454e52;
 width: 100%;
 text-align: center;
 margin: 0;
}

h2 {
 text-align: center;
 width: 90%;
 margin-left: 15px;
}

.intro-text {
 text-align: center;
 margin-left: 15px;
 margin-right: 15px;
}

fieldset {
  border: none;
}

legend {
  font-size: 25px;
  font-weight: bold;
  margin-left: 7px;
}

.textbox {
height: 30px;
margin-right: 0px;
padding-left: 0px;
border-left-width: 0px;
padding-right: 10px;
border-right-width: 0px;
text-align: right;
}

.textbox:focus {
  outline: 3px solid teal;
  background-color: teal;
  transition: background-color 1.5s ease-in;
}

select:focus {
  outline: 3px solid teal;
}

.box {
width: 4%;
}

.box:checked {
  color: blue;
}

.box:focus {
  outline: 3px solid teal;
}

label {
width: 100%;
margin-left: 10px;
}

input {
 background-color: lightgray;
 width: 90%;
 margin-left: 10px;
}

select {
 padding-right: 95px;
 padding-left: 0px;
 background-color: lightgray;
 margin-left: 10px;
 width: 93%;
 height: 35px;
 text-align: left;
 border-radius: 2px;
}

#zip-code {
  width: 45%;
}

.select-news {
 width: 95%;
 margin-left: 10px;
}

.news-format {
  width: 95%;
  margin-left: 10px;
}

.other-topics {
  width: 95%;
  margin-left: 10px;
}

textarea {
 background-color: lightgray;
 width: 89%;
 padding-bottom: 20px;
 padding-top: 20px;
 margin-left: 10px;
}

textarea:focus {
  outline: 3px solid teal;
}

.contact-information, .newsletter {
 text-align: left;
}

.double-line {
  width: 90%;
  border-style: double;
  border-top-width: 1px;
  border-bottom-width: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.solid-line {
  width: 85%;
  border-style: solid;
}

button {
 width: 84%;
 color: white;
 background-color: teal;
 border-radius: 5px;
 border: none;
 padding-top: 15px;
 padding-bottom: 15px;
 margin-left: 23px;
}

.copyright {
 text-align: center;
 width: 100%;
}

@media only screen and (min-width: 768px) {

.intro-text {
  font-size: 15px;
  margin-left: 0;
}

.wrapper {
  margin-left: 150px;
  margin-right: 150px;
}

.double-line {
  margin-left: 175px;
  width: 55.5%;
}

hr {
 margin-left: 180px;
 margin-right: 170px;
}

br {
 display: none;
}

legend {
  margin-left: 7px;
}

#full-name {
  margin-left: 40px;
}

#email {
  margin-left: 70px;
}

#phone-number {
  margin-left: 10px;
}

#street-address {
  margin-left: 8px;
}

#city {
  margin-left: 79px;
}

#state {
  margin-left: 67px;
}

select {
  width: 72.5%;
  margin-bottom: 15px;
}

#zip-code {
  margin-left: 48px;
  width: 25%;
}

input {
 margin-left: 25px;
 margin-right: 150px;
}

.textbox {
 width: 70%;
 margin-bottom: 15px;
}

.box {
  margin-right: 0px;
  margin-left: 10px;
}

.intro-text {
 text-align: center;
 width: 100%;
}

.select-news {
  margin-left: 12px;
}

.html-news {
  margin-right: 300px;
}

.css-news {
  margin-right: 310px;
}

.solid-line {
  margin-left: 24px;
  width: 91%;
}

.news-format {
  margin-left: 12px;
}

.other-topics {
  margin-left: 12px;
}

.html-format {
margin-right: 335px;
}

button {
  width: 90.5%;
}

textarea {
  width: 94.5%;
}
}

@media only screen and (min-width: 1024px) {

.wrapper {
  margin-left: 200px;
}

.double-line {
  width: 56%;
  margin-left: 224px;
}


.solid-line {
  width: 84.5%;
}

.textbox {
  margin-right: 60px;
}

select {
  margin-right: 50px;
  width: 71.75%;
}

.html-news {
  margin-right: 500px;
}

.css-news {
  margin-right: 500px;
}

.html-format {
  margin-right: 530px;
}

textarea {
  width: 87%;
}

button {
  width: 84.5%;
}

.copyright {
  width: 93%;
}

}

@media only screen and (min-width: 1440px) {

 .double-line {
   width: 38%;
   margin-left: 424px;
 }

 .wrapper {
   margin-left: 400px;
 }

 legend {
   margin-left: 6px;
 }

  .textbox {
    margin-right: 270px;
    width: 50%;
  }

  select {
    margin-right: 270px;
    width: 51.5%;
  }

 .solid-line {
   width: 61.5%;
 }

  .html-news {
    margin-right: 700px;
  }

  .css-news {
    margin-right: 700px;
  }

  .html-format {
    margin-right: 730px;
    margin-left: 10px;
  }

  textarea {
    width: 63%;
  }

  button {
    width: 62%;
  }

  .copyright {
    width: 68%;
  }
}
