body {
 display: flex;
 flex-wrap: wrap;
 margin: 0;
 font-family: 'Rajdhani', sans-serif;
}

header {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 width: 100%;
}

h1 {
 color: white;
 background-color: #454e52;
 width: 100%;
 text-align: center;
 margin: 0;
}

h2 {
 text-align: center;
 width: 90%;
 margin-left: 15px;
}

.intro-text {
 text-align: center;
 margin-left: 15px;
 margin-right: 15px;
}

fieldset {
  border: none;
}

legend {
  font-size: 25px;
  font-weight: bold;
}

.textbox {
height: 30px;
margin-right: 0px;
padding-left: 0px;
border-left-width: 0px;
padding-right: 10px;
border-right-width: 0px;
text-align: right;
}

.textbox:focus {
  outline: 3px solid teal;
}

select:focus {
  outline: 3px solid teal;
}

.box {
width: 4%;
}

.box:checked {
  color: blue;
}

.box:focus {
  outline: 3px solid teal;
}

label {
width: 100%;
margin-left: 15px;
}

input {
 background-color: lightgray;
 width: 90%;
 margin-left: 15px;
}

select {
 padding-right: 95px;
 padding-left: 0px;
 background-color: lightgray;
 margin-left: 15px;
 width: 93%;
 height: 30px;
 text-align: left;
 border-radius: 2px;
}

.select-news {
 width: 95%;
 margin-left: 15px;
}

.news-format {
  width: 95%;
  margin-left: 15px;
}

.other-topics {
  width: 95%;
  margin-left: 15px;
}

textarea {
 background-color: lightgray;
 width: 89%;
 padding-bottom: 20px;
 padding-top: 20px;
 margin-left: 15px;
}

textarea:focus {
  outline: 3px solid teal;
}

.contact-information, .newsletter {
 text-align: left;
}

.double-line {
  width: 90%;
  border-style: double;
  border-top-width: 1px;
  border-bottom-width: 5px
}

.solid-line {
  width: 90%;
  border-style: solid;

}

button {
 width: 91%;
 color: white;
 background-color: teal;
 border-radius: 5px;
 border: none;
 padding-top: 15px;
 padding-bottom: 15px;
 margin-left: 15px;
}

.copyright {
 text-align: center;
 width: 100%;
}

@media only screen and (min-width: 768px) {

.wrapper {
  margin-left: 150px;
  margin-right: 150px;
}

hr {
 margin-left: 180px;
 margin-right: 170px;
}

br {
 display: none;
}

legend {
  margin-left: 12px;
}

.full-name {
  margin-right: 30px;
}

.email {
  margin-right: 60px;
}

.phone-number {
  margin-right: 0px;
}

.street-address {
  margin-left: 15px;
  margin-right: 0px;
}

.city {
  margin-right: 70px;
}

.state {
  margin-right: 43px;
}

select {
  width: 70%;
  margin-bottom: 15px;
}

.zip-code {
  margin-right: 38px;
}

input {
 margin-left: 25px;
 margin-right: 150px;
}

.textbox {
 width: 70%;
 margin-left: 0px;
 margin-bottom: 15px;
}

.box {
  margin-right: 0px;
  margin-left: 10px;
}

.intro-text {
 text-align: center;
 width: 100%;
}

.select-news {
  margin-left: 12px;
}

.html-news {
  margin-right: 300px;
}

.css-news {
  margin-right: 300px;
}

.solid-line {
  margin-left: 25px;
}

.news-format {
  margin-left: 12px;
}

.other-topics {
  margin-left: 12px;
}

.html-format {
margin-right: 335px;
margin-left: 15px;
}
}

@media only screen and (min-width: 1024px) {

.textbox {
  margin-right: 60px;
}

select {
  margin-right: 50px;
  width: 71.5%;
}

.html-news {
  margin-right: 550px;
}

.css-news {
  margin-right: 550px;
}

.html-format {
  margin-right: 600px;
}
}
